extends layout

block content
    h3 The Shortening
        p What do you want to shorten?
            form(method="post" action="/shorten")
                div
                    label Enter URL:  
                        input(type="text" name="URL" placeholder="URL")
                        input(type="submit" value="Engage!")